<%= render partial: 'layouts/navbar' %>
<div class="container-fluid">
  <div class="row" style="padding: 20px 0 20px 0">
    <div class="container">
      <div class="row">
        <div class="col-xs-9" style="padding-top: 10px">
          <h2><i class="fa fa-caret-left fa-lg" aria-hidden="true" style="color:#ff6060"></i>&emsp; จับคู่</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 30px 0 200px 0;">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <progress style="height: 30px;color:#ff6060" class="progress progress-danger" value="10" max="100"></progress>
        </div>
      </div>
      <div class="row" style="padding-top: 30px">
        <div class="col-xs-8 col-xs-offset-2 text-xs-center">
          <h2>อะไรเป็นเหตุผลของคุณ<br>ในการอยากเริ่มต้นทำธุรกิจนี้</h2>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2" style="padding-top: 50px">
              <!-- start card -->
              <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card">
                  <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
                    <div style="text-align: center;overflow: hidden;">
                      <p class="card-title text-truncate">ความยืดหยุ่น</p>
                      <p class="card-text text-truncate">ต้องการจัดการเวลา<br>การทำงานด้วยตนเอง</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <!-- end card -->
              <!-- start card -->
              <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card">
                  <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
                    <div style="text-align: center;overflow: hidden;">
                      <p class="card-title text-truncate">ความพอใจส่วนตัว</p>
                      <p class="card-text text-truncate">ฉันต้องการมีธุรกิจ<br>เป็นของตัวเอง</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <!-- end card -->
              <!-- start card -->
              <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card">
                  <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
                    <div style="text-align: center;overflow: hidden;">
                      <p class="card-title text-truncate">เงิน</p>
                      <p class="card-text text-truncate">ฉันต้องการรายได้<br>ที่เพิ่มมากขึ้น</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <!-- end card -->
              <!-- start card -->
              <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card">
                  <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
                    <div style="text-align: center;overflow: hidden;">
                      <p class="card-title text-truncate">สิ่งใหม่ๆ</p>
                      <p class="card-text text-truncate">ฉันเบื่อความเป็นอยู่ในปัจจุบัน<br>อยากมีอะไรใหม่ๆในชีวิต</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <!-- end card -->
              <!-- start card -->
              <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card">
                  <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
                    <div style="text-align: center;overflow: hidden;">
                      <p class="card-title text-truncate">เสริมสร้างทักษะ</p>
                      <p class="card-text text-truncate">ฉันต้องการ<br>ทักษะใหม่ๆเพิ่มเติม</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <!-- end card -->
              <!-- start card -->
              <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="card">
                  <a style="color: #353535;text-decoration: none;" href="#"><div class="card-block recom" href="#">
                    <div style="text-align: center;overflow: hidden;">
                      <p class="card-title text-truncate">การจ้างงาน</p>
                      <p class="card-text text-truncate">ฉันไม่พอใจในสถานะการงาน<br>ของฉันในปัจจุบัน</p>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
</div>
