<% flash.select { |type, message| message.is_a? String }.each do |type, message| %>
    <% if type == 'notice' %>
        <div class="alert alert-success alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>สำเร็จ </strong><%= message %>
        </div>
    <% end %>
    <% if type == 'error' %>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>เกิดข้อผิดพลาด </strong><%= message %>
        </div>
    <% end %>
<% end %>