<%= render partial: 'layouts/navbar' %>
<div class="container-fluid">
  <div class="row" style="padding: 50px 0 50px 0;">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 text-xs-center">
          <h2>สมัครสมาชิก</h2>
        </div>
      </div>

      <div class="row" style="padding-top: 50px;padding-bottom: 100px">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-6">
              <h2 style="color:#ff6060;padding-bottom: 20px">Francisee</h2>
              <p>คุณเป็นผู้ที่กำลัง<b>มองหาธุรกิจ</b>อยู่ใช่ไหม?<br>สมัครสมาชิกกับเราวันนี้ฟรี<br>
                พร้อมรับระบบการจับคู่และการแจ้งเตือน<br>ที่จะทำให้การหาธุรกิจ เป็นเรื่องเล็กสำหรับคุณ
              </p>
              <button class="btn btn-primary">สมัคร</button>
            </div>
            <div class="col-sm-6 text-xs-right">
              <h2 style="color:#ff6060;padding-bottom: 20px">Franciser</h2>
              <p>พบกับแหล่งรวมคน<b>หาหุ้นส่วนทำธุรกิจ</b><br>สมัครลงประกาศวันนี้<br>
                พร้อมรับสิทธิประโยชน์มากมาย<br>ระวัง! ธุรกิจของคุณจะเติบโตโดยไม่รู้ตัว
              </p>
              <button class="btn btn-primary">สมัคร</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
</div>

