<div class="row hidden-md-down" style="background-color: #ff6060">
  <div class="container">
    <div class="row" style="padding: 50px 0 50px 0">
      <div class="col-sm-12 text-xs-center">
        <div class="col-xs-12 col-md-6">
          <b>FranchiseHero</b>
        </div>
        <div class="col-xs-12 col-md-6">
          <b>หมวดหมู่ธุรกิจ</b>
        </div>
      </div>
      <div class="col-sm-12" style="font-size: 1em;padding-top: 20px">
        <div class="col-md-3" style="padding-left: 7rem">
          <a href="#" style="color: #ffffff">หน้าแรก</a><br>
          <a href="#" style="color: #ffffff">เกี่ยวกับเรา</a><br>
          <a href="#" style="color: #ffffff">จับคู่</a><br>
          <a href="#" style="color: #ffffff">เจ้าของธุรกิจ</a><br>
          <a href="#" style="color: #ffffff">ร่วมทุน</a><br>
        </div>
        <div class="col-md-3" style="padding-left: 5.5rem">
          <a href="#" style="color: #ffffff">ติดต่อ</a><br>
          <a href="#" style="color: #ffffff">โฆษณา</a><br>
          <a href="#" style="color: #ffffff">คำถามที่พบบ่อย</a><br>
          <a href="#" style="color: #ffffff">กฎ กติกา เงื่อนไข</a><br>
        </div>
        <div class="col-md-3" style="padding-left: 7rem">
          <a href="#" style="color: #ffffff">แฟรนไชส์ยอดนิยม</a><br>
          <a href="#" style="color: #ffffff">ตัวแทนจำหน่ายยอดนิยม</a><br>
          <a href="#" style="color: #ffffff">อาหาร</a><br>
          <a href="#" style="color: #ffffff">เครื่องดื่ม</a><br>
          <a href="#" style="color: #ffffff">ขนมและเบเกอรี่</a><br>
          <a href="#" style="color: #ffffff">การศึกษา</a><br>
        </div>
        <div class="col-md-3" style="padding-left: 5.5rem">
          <a href="#" style="color: #ffffff">สุขภาพและความงาม</a><br>
          <a href="#" style="color: #ffffff">ค้าปลีก</a><br>
          <a href="#" style="color: #ffffff">บริการ</a><br>
          <a href="#" style="color: #ffffff">แฟชั่น</a><br>
          <a href="#" style="color: #ffffff">สิ่งพิมพ์</a><br>
          <a href="#" style="color: #ffffff">อื่นๆ</a><br>
        </div>
      </div>
    </div>
  </div>
</div>